services:
  playwright1:
    image: mcr.microsoft.com/playwright/mcp:latest
    pull_policy: always
    container_name: playwright1
    init: true
    stdin_open: true
    entrypoint: node
    command:
      - cli.js
      - --headless
      - --browser
      - chromium
      - --no-sandbox
      - --isolated
      - --allowed-hosts
      - "*"
      - --port
      - "8931"
    ports:
      - "8931:8931"
    volumes:
      - ./downloads:/tmp/playwright-output
    restart: unless-stopped
  playwright2:
    image: mcr.microsoft.com/playwright/mcp:latest
    pull_policy: always
    container_name: playwright2
    init: true
    stdin_open: true
    entrypoint: node
    command:
      - cli.js
      - --headless
      - --browser
      - chromium
      - --no-sandbox
      - --isolated
      - --allowed-hosts
      - "*"
      - --port
      - "8931"
    ports:
      - "8932:8931"
    volumes:
      - ./downloads:/tmp/playwright-output
    restart: unless-stopped
  playwright3:
    image: mcr.microsoft.com/playwright/mcp:latest
    pull_policy: always
    container_name: playwright3
    init: true
    stdin_open: true
    entrypoint: node
    command:
      - cli.js
      - --headless
      - --browser
      - chromium
      - --no-sandbox
      - --isolated
      - --allowed-hosts
      - "*"
      - --port
      - "8931"
    ports:
      - "8933:8931"
    volumes:
      - ./downloads:/tmp/playwright-output
    restart: unless-stopped
  playwright4:
    image: mcr.microsoft.com/playwright/mcp:latest
    pull_policy: always
    container_name: playwright4
    init: true
    stdin_open: true
    entrypoint: node
    command:
      - cli.js
      - --headless
      - --browser
      - chromium
      - --no-sandbox
      - --isolated
      - --allowed-hosts
      - "*"
      - --port
      - "8931"
    ports:
      - "8934:8931"
    volumes:
      - ./downloads:/tmp/playwright-output
    restart: unless-stopped
  playwright5:
    image: mcr.microsoft.com/playwright/mcp:latest
    pull_policy: always
    container_name: playwright5
    init: true
    stdin_open: true
    entrypoint: node
    command:
      - cli.js
      - --headless
      - --browser
      - chromium
      - --no-sandbox
      - --isolated
      - --allowed-hosts
      - "*"
      - --port
      - "8931"
    ports:
      - "8935:8931"
    volumes:
      - ./downloads:/tmp/playwright-output
    restart: unless-stopped
